# Ignore everything
/*

!.gitignore
!.gitpod.yml
!.gitpod.Dockerfile
!bc.json
!preview.png
!README.md

!/exercises
!/exercises/*

!/.breathecode
/.breathecode/**
!/.breathecode/resets
!/.breathecode/resets/**
!/.breathecode/assets
!/.breathecode/assets/**
